@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image:url(../image/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}

.cabecalho-imagem {
    width: 80px;
    margin-right: 250px;
}

.cabecalho-menu {
    display: flex;
}

.cabecalho-menu-item {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: 400;
    color: wheat;
    padding: 15px;
}

    



.rodape {
    text-align: center;
    border-bottom: 0px;
}

.img-rodape {
    width: 100px;
}